# if you want to use this file in your actual tool changer then remove the `example_` from the filename.

# This file contains common pin mappings for the BIGTREETECH EBBT1
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu sb2040]
canbus_uuid: b6c467f44db0
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 8170dfa83388 -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u 8170dfa83388 -f ~/klipper/out/klipper.bin

# [adxl345]
# cs_pin: EBBT1: PB12
# spi_software_sclk_pin: EBBT1: PB10
# spi_software_mosi_pin: EBBT1: PB11
# spi_software_miso_pin: EBBT1: PB2
# axes_map: x,z,y

#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
## step_pin: PE2
## dir_pin: PE3
## enable_pin: !PD4
step_pin: sb2040:gpio9
dir_pin: sb2040:gpio10
enable_pin: !sb2040:gpio7
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.22497998   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
## Octopus 1.0 & 1.1.  Octopus PRO 1.0
#heater_pin: PA2
## Octopus PRO 1.1
#heater_pin: PA0
heater_pin: sb2040:gpio6
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950
#sensor_pin: PF4
sensor_pin: sb2040:gpio27
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control: pid
pid_kp: 28.267
pid_ki: 1.532
pid_kd: 130.387
##  Try to keep pressure_advance below 1.0
pressure_advance: 0.04 #War auskommentiert CHECK
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR6
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
#uart_pin: PE1
uart_pin: sb2040:gpio8
interpolate: true #Hier war false! CHECK
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0



[heater_fan T0_hotend_fan]
pin: sb2040:gpio14
heater_temp: 50.0
kick_start_time: 0.25
# ##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.75
heater: extruder


[fan_generic T0_part_fan]
pin: sb2040:gpio13
kick_start_time: 0.15
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.17

[heater_fan T0_SB2040_fan]
pin: sb2040:gpio15
kick_start_time: 0.5
heater: heater_bed
heater_temp: 65.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.7


[temperature_sensor T0_mcu]
sensor_type: temperature_mcu
sensor_mcu: sb2040
min_temp: 0
max_temp: 100

[temperature_sensor T0_toolhead]
sensor_type = ATC Semitec 104GT-2
sensor_pin = sb2040:gpio26
min_temp: 0
max_temp: 350


#change the tool numbers to the tool you are configuring, ie T1, T1, etc
[tool T0]
#change this too
tool_number: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
#Change T1_partfan to tool number
fan: T0_part_fan
# Tool offset is 0.171875,-0.034375,-0.833750
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 0
params_park_y: 0
params_park_z: 0
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 48.4
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 33.2


[tool_probe T0]
pin: ^sb2040:gpio28
tool: 0
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -0.85 # Z axis-sensor relative nozzle offset
# drop_first_result: True # enable is on danger-klipper
speed: 10.0  #War 5
samples: 1  #War 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.01
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

# ## Der Code ab hier ist dazugekommen! CHECK
# activate_gcode:
#     {% set PROBE_TEMP = 150 %}
#     {% set MAX_TEMP = PROBE_TEMP + 10 %}
#     {% set ACTUAL_TEMP = printer.extruder.temperature %}
#     {% set TARGET_TEMP = printer.extruder.target %}

#     {% if TARGET_TEMP > PROBE_TEMP %}
#         { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
#         M109 S{ PROBE_TEMP }
#     {% else %}
#         # Temperature target is already low enough, but nozzle may still be too hot.
#         {% if ACTUAL_TEMP > MAX_TEMP %}
#             { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
#             TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
#         {% endif %}
#     {% endif %}


[gcode_macro T0]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=0